<% form_for @client do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => 'text' %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :class => 'text' %>
  </p>
  <p class="clearfix"><%= button_tag "Save", :class => 'positive' %></p>
<% end %>
