<% form_for @client, :html => { :class  => 'client' } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'text' %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email, :class => 'text' %>
  </p>
  <p>
    <%= f.label :phone %>
    <%= f.text_field :phone, :class => 'text' %>
  </p>
  <p>
    <%= f.label :address %>
    <%= f.text_area :address, :rows => '1', :class => 'shallow' %>
  </p>
  <p>
    <%= f.label :birthdate %>
    <%= f.date_select :birthdate, :add_month_numbers => true, :order => [:month, :day], :include_blank => true %>
  </p>
  <p>
    <%= f.label :hair_description %>
    <%= f.text_area :hair_description, :rows => '1', :class => 'shallow' %>
  </p>
  <p>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </p>
  <p class="clearfix"><%= button_tag "Save", :class => 'positive' %></p>
<% end %>
