<% title "Clients" %>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  <% for client in @clients %>
    <tr>
      <td><%= link_to client.name, client %></td>
      <td><%=h client.phone %></td>
      <td><%=h client.email %></td>
      <td>
        <%= link_to "Edit", edit_client_path(client), :class => 'button' %>
        <%= link_to image_tag('/stylesheets/icons/cross.png') + " Delete", client, :confirm => 'Are you sure?', :method => :delete, :class => 'button negative' %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Client", new_client_path, :class => 'button positive' %></p>
