<% title "Salon Space Home", false %>

<% if current_user %>

<p>Welcome to Salon Space, <%= current_user.email %></p>
<div id="upcoming_appointments" class="span-8">
  <div class="box">
  <h2>Upcoming Appointments</h2>
  <% if !@upcoming_appointments.blank? -%>
  <ul>
    <% for appointment in @upcoming_appointments %>
      <li>
        <%= link_to appointment.pretty_time, appointment %>
        <% unless appointment.client.blank? %>
          with <%= link_to appointment.client.name, appointment.client %>
        <% end -%>
      </li>
    <% end %>
  </ul>
  <% else %>
  <p>You don't have any upcoming appointments.</p>
  <% end -%>
  <p class="more"><%= link_to "New Appointment", new_appointment_path %></p>
  </div>
</div>
<div id="recent_appointments" class="span-8">
  <div class="box">
  <h2>Recent Appointments</h2>
  <% if !@recent_appointments.blank? -%>
  <ul>
    <% for appointment in @recent_appointments %>
      <li>
        <%= link_to appointment.pretty_time, appointment %>
        <% unless appointment.client.blank? %>
          with <%= link_to appointment.client.name, appointment.client %>
        <% end -%>
      </li>
    <% end %>
  </ul>
  <% else %>
  <p>You haven't had any appointments yet.</p>
  <% end -%>
  <p class="more"><%= link_to "All Appointments", appointments_path %></p>
  </div>
</div>
<div id="recent_clients" class="span-8 last">
  <div class="box">
  <h2>Recent Clients</h2>
  <% if !@new_clients.blank? %>
  <ul>
    <% for client in @new_clients %>
      <li><%= link_to client.name, client %></li>
    <% end %>
  </ul>
  <% else %>
    <p>You don't have any clients yet.</p>
  <% end %>
  <p class="more"><%= link_to "Add New Client", new_client_path %></p>
  </div>
</div>

<% else -%>
<p>Please <%= link_to "Log in", login_url %> to start using Salon Space</p>

<% end -%>