<% form_for @appointment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :time, "Date of Appointment" %>
    <%= f.datetime_select :time, :twelve_hour => true, :minute_step => 5 %>
  </p>
  <p>
    <%= f.label :client_id %>
    <%= f.collection_select :client_id, Client.all, :id, :name, :include_blank => true %>
  </p>
  <p>
    <%= f.label :service_id, "Type of Service" %>
    <%= f.collection_select :service_id, Service.all, :id, :name %>
  </p>
  <p>
    <%= f.label :location_id %>
    <%= f.collection_select :location_id, Location.all, :id, :name %>
  </p>
  <p>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </p>
  <p class="clearfix"><%= button_tag image_tag('/stylesheets/icons/tick.png') + " Save", :class => 'positive' %></p>
<% end %>
