<% form_for @appointment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :time, "Date of Appointment" %><br />
    <%= f.datetime_select :time, :twelve_hour => true, :minute_step => 5 %>
  </p>
  <p>
    <%= f.label :client_id %>
    <%= f.collection_select :client_id, Client.all, :id, :name, :include_blank => true %>
  </p>
  <p class="clearfix"><%= button_tag "Save", :class => 'positive' %></p>
<% end %>
