<% semantic_form_for @appointment do |f| %>
  <% f.inputs do %>
    <%= f.input :time, :label => "Date of Appointment", :as => :string %>
    <%= f.input :client, :required => false %>
    <%= f.input :service, :label => "Type of Service" %>
    <%= f.input :location %>
    <%= f.input :notes, :required => false, :input_html => {:class => 'shallow'} %>
  <% end -%>
  <% f.buttons do %>
  <%= f.commit_button image_tag('/stylesheets/icons/tick.png') + " Save", :use_button_tag => true, :class => 'positive' %></p>
  <% end -%>
<% end %>
