<% title "Appointments" %>

<p class="clearfix">
  <%= link_to "New Appointment", new_appointment_path, :class => 'button positive' %>
</p>

<table>
  <tr>
    <th>Time</th>
    <th>Client</th>
    <th>Location</th>
    <th>Service</th>
  </tr>
  <% for appointment in @appointments %>
    <tr>
      <td>
        <%= link_to appointment.pretty_time, appointment %>
        <%= link_to image_tag('edit.png'), edit_appointment_path(appointment)%>
      </td>
      <td><%= link_to appointment.client.name, appointment.client if appointment.client %></td>
      <td><%= appointment.location.name if appointment.location %></td>
      <td><%= appointment.service.name if appointment.service %></td>
    </tr>
  <% end %>
</table>

