<% title "Appointment" %>

<h3><%=h @appointment.pretty_time %></h3>

<%- if @appointment.client -%>
  <p><%= link_to @appointment.client.name, @appointment.client %></p>
<%- end -%>

<p><%= @appointment.service.name if @appointment.service %></p>

<p class="clearfix">
  <%= link_to image_tag('edit.png')+"Edit", edit_appointment_path(@appointment), :class => 'button' %>
  <%= link_to image_tag('/stylesheets/icons/cross.png')+"Cancel this appointment", @appointment, :method => :delete, :class => 'button negative' %>
</p>
<p>
  <%= link_to "All Appointments", appointments_path %>
</p>